.l_b_body{
    width: 60%;
}
.l_b_body > p{
    width: 60%;
    margin: auto;
    padding: 10px;
    color: rgb(72, 173, 255);
    border: 1px solid gray;
    border-radius: 3px;
    font-size: xx-large;
    cursor: pointer;
    text-align: center;
    text-rendering: optimizeLegibility;
}
.l_b_body > p:hover{
    background-color: whitesmoke;
    transition: 0.5s;
    color: black;
}
@media only screen and (max-width: 1000px){
    .l_b_body{
        width: 70%;
    }
}
@media only screen and (max-width: 800px){
    .l_b_body{
        width: 100%;
    }
}