.blog{
    width: 80%;
    margin: auto;
}
.b_title{
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    text-align: start;
    text-align: center;
    text-transform: capitalize;
}
.b_desc{
    margin-top: 10px;
    font-size: 1.6rem;
    color: rgb(116,122,134);
    text-align: center;
}
.b_speech{
    margin-top: 30px;
}
.b_img{
    margin-top: 10px;
    margin-bottom: 28px;
    object-fit: contain;
    width: 100%;
}
.b_body{
    margin-top: 5px;
}

.b_body_story{
    width: 100%;
    display: flex
}
.b_txt{
    width: 85%;
}
.b_icn{
    width: 10%;
}
.b_auth_tag{
    width: 70%;
    margin: auto;
}
.tags{
    padding: 10px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tags > p{
    margin-right: 5px;
}
.story_action{
    margin-top: 26px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.b_body_imp{
    width: 12rem;
    display: flex;
    justify-content: space-between;
}
.imp_ficon{
    color: rgb(182, 97, 97);
}
.imp_ficon:hover{
    color: red;
}
.imp_ticon{
    color: gray;
}
.imp_ticon:hover{
    color: rgb(51, 50, 50);
}
.imp_bicon{
    display: block;
    color: rgb(64, 129, 250);
}
.ic{
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1000px){
    .ic{
        display: none;
    }
}
.b_body_share{
    display: flex;
    align-items: center;
}
.b_body_share > h4{
    margin-right: 10px;
}
.s_ticon{
    color:rgb(29,161,242);
}
.s_licon{
    color: rgb(1,119,181);
}
.s_ficon{
    color: rgb(0,143,247);
}
.s_wicon{
    color: rgb(103,230,105);
}
.s_picon{
    color: rgb(231,58,51);
}


.b_author{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 6px;
}
.b_author_left{
    width: 40%;
    padding: 15px;
    align-items: center;
}
.auth_img{
    height: 100px;
    overflow: hidden;
}
.auth_img >img{
    height: 100%;
    object-fit: contain;
}
.b_a_l_r{
    padding: 10px;
    margin: auto;
}
.b_a_l_r > h6{
    font-size: large;
    color: rgb(133, 133, 133);
}
.b_a_l_r >p{
    font-size: x-large;
    font-weight: bold;
}
.b_author_right{
    padding: 15px;
    width: 40%;
    align-items: center;
}
.b_author_header>p{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 5px;
}
.b_author_right>p{
    font-size: large;
    font-weight: 20px;
}
.b_related{
    width: 70%;
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.b_relate_middle{
    width: 300px;
    text-align: center;
}

.b_relate_left, .b_relate_right{
    border: 1px solid black;
    width: 42%;
}

@media screen and (max-width: 1000px){
    .b_txt{
        width: 80%;
        margin: auto;
    }
    .b_icn{
        display: none;
    }
}
@media screen and (max-width: 790px){
    .blog{
        width: 98%;
        margin: auto;
    }
    .b_title{
        font-size: 2rem;
    }
    .b_desc{
        font-size: 1.3rem;
    }
    .b_body_story{
        width: 90%;
    }
    .story_action{
        margin-top: 26px;
        display: contents;
    }
    .b_body_imp{
        width: 12rem;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    .b_body_share{
        width: 17rem;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .b_author{
        padding: 0;
    }
    .b_author_left{
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        margin: auto;
    }
    .auth_img{
        padding: 10px;
    }
    .b_author_right{
        padding: 0;
        width: 80%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .b_related{
        width: 98%;
    }
    .b_relate_middle{
        width: 360px;
        text-align: center;
    }
}