.body{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-between;
}

@media only screen and (max-width: 600px){
    .body{
        margin-left: 3%;
        margin-right: 3%;
    }
}