.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    font-size: 45px;
    object-fit: contain;

}
.header_right{
    display: flex;
}.header_icons{
    margin-left: 30px;
}
